.card {
    position: relative;
    width: 100%;
    max-width: 390px;

    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 688px) {
        max-width: 350px;
    }

    @media (max-width: 320px) {
        max-width: 240px;
        padding-bottom: 20px;
    }

    .img {
        margin: 0 0 40px 0;
        width: 100%;
        height: 410px;
        position: relative;
        cursor: pointer;
        @media (max-width: 688px) {
            padding-bottom: 25px;
        }
        @media (max-width: 320px) {
            padding-bottom: 10px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .subtitle {
        font-size: 15px;
        line-height: 14px;
        font-weight: 200;
        @media (max-width: 688px) {
            font-size: 15px;
            line-height: 12px;
        }
        @media (max-width: 320px) {
            font-size: 10px;
            line-height: 10px;
        }
    }

    .title {
        margin: 17px 0;
        height: 36px;
        width: 100%;

        text-align: center;

        display: flex;
        align-items: center;
        justify-content: center;

        font-weight: 700;
        font-size: 19px;
        line-height: 18px;

        text-transform: uppercase;

        @media (max-width: 688px) {
            margin: 15px 0;
        }
        @media (max-width: 320px) {
            margin: 10px;
            font-size: 12px;
            line-height: 11px;
        }
    }

    .price {
        margin: 0 0 57px 0;
        font-size: 19px;
        line-height: 18px;
        font-weight: 200;
        @media (max-width: 320px) {
            margin: 0 0 20px 0;
            font-size: 14px;
            line-height: 13px;
        }
    }
}
