.description {
    position: relative;
    width: 100%;
    height: 100vh;

    background-color: #c3c3c3;
    margin: 50px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .title {
        margin: 0 24px 0 0;
        color: #fff;
        z-index: 1;
        font-size: 62px;
        font-weight: 600;
    }

    .text {
        max-width: 800px;
        color: #fff;
        z-index: 1;
        font-size: 22px;
        text-transform: uppercase;
        font-weight: 300;
        text-align: center;
    }

    .filter {
        z-index: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background-color: rgba(0, 0, 0, 0.5);
    }
}
